body{
margin:0;
font-family:Segoe UI;
background:#1e1f22;
color:white;
transition:0.3s;
}

body.light{
background:#f2f2f2;
color:black;
}

.container{
display:flex;
height:100vh;
}

.sidebar{
width:230px;
background:#2b2d31;
padding:20px;
}

.sidebar h3{
cursor:pointer;
padding:8px;
border-radius:6px;
}

.sidebar h3:hover{
background:#404249;
}

.main{
flex:1;
display:flex;
flex-direction:column;
background:#313338;
}

.chat-header{
padding:15px;
font-size:20px;
background:#232428;
}

.messages{
flex:1;
overflow-y:auto;
padding:15px;
}

.msg{
background:#40444b;
padding:10px;
margin-bottom:10px;
border-radius:8px;
}

.input-area{
padding:15px;
display:flex;
gap:10px;
background:#2b2d31;
}

button{
background:#5865f2;
color:white;
border:none;
padding:10px;
border-radius:6px;
cursor:pointer;
}

.green-dot{
height:8px;
width:8px;
background:#43b581;
border-radius:50%;
display:inline-block;
}
